<!-- Name:<input [(ngModel)]="newContact.name">
Phone:<input [(ngModel)]="newContact.phone">
Address:<input [(ngModel)]="newContact.address">
Notes:<input [(ngModel)]="newContact.notes">
<button  class="btn btn-success" (click)="Add()">Add</button>
<a class="btn btn-primary" routerLink="/contacts">Back</a> -->

<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Add New Contact</h4>
  <hr>
  <p class="mb-0">A new contact should have name , phone , address , notes</p>
</div>
<!-- <div>
  {{conPhone.className | json}}
</div> -->
<form (ngSubmit)="Add()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input [(ngModel)]="newContact.name" name="name" type="text" class="form-control" id="name" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input #conPhone [(ngModel)]="newContact.phone" name="phone" type="text" class="form-control" id="phone" minlength="11" maxlength="11" required pattern="/^[0-9]{11}$/">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input [(ngModel)]="newContact.address" name="address" type="text" class="form-control" id="address" required minlength="3">
  </div>
  <div class="mb-3">
    <label for="notes" class="form-label">Notes</label>
    <input [(ngModel)]="newContact.notes" name="notes" type="text" class="form-control" id="notes">
  </div>
  <button type="submit" class="btn btn-success">Add</button>
  <a class="btn btn-warning m-2" routerLink="/contacts">Back</a>
</form>
