

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Contacts Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isLoggedIn">
        <li class="nav-item m-2">
          <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
      <div *ngIf="!isLoggedIn">
        <input  [(ngModel)]="user.username" type="text" placeholder="Username" class="m-2">
        <input  [(ngModel)]="user.password" type="password" placeholder="Password" class="m-2">
        <button class="btn btn-outline-success m-2" (click)="login()">Login</button>
      </div>
    </div>
  </div>
</nav>